.hidden_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
    width: 0.10rem;
    position: absolute;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }

  scrollbar-color: var(--primary-color-500) transparent;

 
}